<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="src\styles\global.css">
    <link rel="stylesheet" href="src\styles\login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to ReciPeek</title>
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <img class="logo" src="src\images\logo.svg" alt="logo">
            <h1> Reci<span class="text-peach">Peek</span></h1>
        </div>
        <div class="form-container">
            <form action="" class="login-form">
                <div class="form-inputs">
                    <input type="text" placeholder="E-mail" name="uname" required>
                    <input type="text" placeholder="Password" name="uname" required>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="remember-user" name="remember-user">
                    <label for="remember-user">Remember me</label>
                </div>
                <button class="button-bg-gradient submit-button">LOG IN</button>
            </form>
            <a class="forgot-password-link" href="#">Forgot password?</a>  
        </div>
    </div>
</body>
</html>