body {
    min-height: 100vh;
    background: var(--color-bg-gradient-light);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 28px;
}

.logo {
    height: 60px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-container {
    position: absolute;
    right: 8px;
    margin-left: 8px;
}

.dropdown-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 35px; /* Adjust the height as necessary */
    border-left: 1px solid #ccc; /* This creates the vertical line */
}

.search-icon {
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.dropdown-container select {
    padding: 5px;
    border: none;
    background-color: #fff;
    color: var(--color-grey-dark);
    cursor: pointer;
}

.search {
    width: calc(700px - 120px);
    flex-grow: 1;
    border: none;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 16px 10px 16px 40px;
}

.header-buttons {
    display: flex;
    gap: 8px    ;
}

.profile {
    filter: invert(1);
    height: 35px;
}

.hamburger {
    height: 35px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1.5px;
}

.main-container {
    display: flex;
    align-items : center;
    text-align: center;
    flex-direction: column;
    padding: 28px 0;
    color: white;
    gap: 24px;
}

.recommended-recipes, .recent-recipes {
    width: 100%;
}

.recipe-grid-title {
    font-weight: 700;
    margin: 24px;
}

.recipe-grid {
    width: 100%;
    padding: 0 80px;
}

.recipe-grid:not(.slick-initialized) {
    overflow: hidden;
    display: flex;
}

.recipe-grid:not(.slick-initialized) .recipe-card-link {
    width: 20%;
    display: inline-block;
}

.recipe-grid:not(.slick-initialized) .recipe-card-link:nth-child(n + 6) {
    display:none;
}

.recipe-grid .slick-track {
    display: flex;
    align-items: stretch;
}

.recipe-grid .slick-track .recipe-card-link {
    height: auto;
}

.recipe-grid .slick-track .recipe-card-link .recipe-card {
    height: 100%;
}

.recipe-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.recipe-card {
    background: var(--color-peach);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 0 10px;
}

.recent-recipes .recipe-card {
    background-color: white;
    color: var(--color-black-light);
}

.recent-recipes .recipe-info-icon {
    filter: unset;
}

.recipe-thumbnail {
    width: 100%;
    aspect-ratio: 1.1/1;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-meta {
    display: flex;
    flex-direction: column;
}

.recipe-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0 8px 0;
}

.recipe-title h3 {
    text-align: left;
    font-size: 1em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.recipe-rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.star-icon {
    height: 38px;
}

.recipe-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.recipe-info-icon {
    filter: invert(1);
    height: 38px;
}

.time-info, .difficulty-info {
    display: flex;
    align-items: center;
    gap: 2px;
}

.slick-prev,
.slick-next {
    font-size: 0; /* Ensures that the default text is not visible */
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    background-color: #333; /* Dark background for visibility */
    border-radius: 50%; /* Circular background */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8; /* Semi-transparency */
    z-index: 25; /* Make sure it's above other elements */
    border: none; /* Remove default borders */
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1; /* Full visibility on hover */
}

.slick-prev {
    left: 25px; /* Adjust as per your layout */
}

.slick-next {
    right: 25px; /* Adjust as per your layout */
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick'; /* Use slick's font family */
    font-size: 20px; /* Adjust arrow size */
    line-height: 1;
    color: white;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '←'; /* Default arrow text, you can use an arrow character here */
}

.slick-next:before {
    content: '→'; /* Default arrow text, you can use an arrow character here */
}
